* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  padding: 50px;
  border-radius: 10px;
}

.inputcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.inputField{
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
}

.searchButton{
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
}

