@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}


html,
body {
  width: 100%;
  height: 100%;
  background: #222121;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  padding: 50px;
  border-radius: 10px;
}

.inputForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.inputField {
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  color:#5a5a5a
}

.searchButton {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.searchButton:hover{
  transform: scale(1.03);
}

.searchIcon{
  color: #9b9a9a;
}

.tempDetialContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainImage {
  height: 50px;
}

.tempPara {
  font-size: 3rem;
}

.locationpara {
  font-size: 2rem;
}

.humidWindContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:50px
}

.humidContainer, .windContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.humidIconText, .windIconText{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.humidIcon,.windIcon{
  font-size: 2rem;
  color: #f1f1f1;
}

.humidIconText p, .windIconText p{
  font-size: 1.2rem;
}